<header class="header col-12 row">
    <div class="col-3">
        <img class="col-3" src="../../assets/img/avatar.png" alt="avatar">
    </div>
    <h1 class="col-8">Hello {{ u.nickname }} !!</h1>
    <div class=" col-1 dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
</header>
<div class="row">
    <div class="col-12">
        <div class="card card-block">I am Groot.</div>
    </div>
    <div class="col-12">
        <div class="card card-block">hello 1</div>
    </div>
    <div class="col-12">
        <div class="card card-block">hello {{ u.nickname }}</div>
    </div>
    <div class="col-12">
        <div class="card card-block">hello 3</div>
    </div>
</div>